.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: #282c34;
  color: white;
}

label {
  font-family: bold;
  font-size: 1rem;
  margin-left: 1.5rem;
  margin-bottom:0;
}