.searchResults {
  width: 85%;
}

.topics {
  font-size: 1.1rem;
}

.topics li {
  margin-bottom: 0.3rem;
}

.topics a {
  text-decoration: none;
  color: blue;
}


.topics a:hover {
  text-decoration: underline;
}

.searchResults p {
  margin-top: 0.3rem;
  font-size: 1.2rem;
}
